body {
  margin: 0;
  background-color: #0b0b0b;
  color: #ffa31a;
  font-family: "Creepster", cursive;
  text-align: center;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-shadow: 0 0 8px #ff6600;
  margin-bottom: 10px;
}

.camera-area {
  position: relative;
  width: 100%;
  height: 400px;
  border: 3px solid #ffa31a;
  border-radius: 10px;
  overflow: hidden;
  background: black;
}

video,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

#canvas {
  display: none;
}

#stickers-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.controls {
  margin-top: 15px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #ff6600;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cc5200;
}

.stickers {
  margin-top: 15px;
}

.sticker-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.sticker-list img {
  width: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sticker-list img:hover {
  transform: scale(1.2);
}

#ghostPopup {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#ghostPopup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
